@import "tailwindcss";

@font-face {
  font-family: "Thunder";
  src: url("/fonts/Thunder-BlackLC.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --challenge-bg: #ffe4f7;
  --challenge-card: #fff7fb;
  --challenge-dark: #3d0202;
  --challenge-primary: #840303;
  --challenge-soft: #f9c6e4;
  --challenge-grid: rgb(177, 2, 2);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

